*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
/_ReSharper.Caches/
riderModule.iml
coverage.xml
*.aux
*.out
*.pdf
*.gz
*.toc
.vs
.idea
*.DotSettings

# NuGet Packages
*.nupkg
packages/*
!packages/repositories.config
